<div>
    <div class="login-box span-14 prepend-5 append-5 last">
        <div class="login-error-box ui-widget hide">
	        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
	            <div><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
		            <strong>Alert:</strong> <span class="login-error-message"></span>
                </div>
	        </div>
        </div>

        <form> 
            <fieldset class="panel">
                <p>
                    <label for="j_username">Username</label> <input type="text" name="j_username" /> <br/>
                    <label for="j_password">Password</label> <input type="text" name="j_password" /> 
                </p>
                <p>
                    <button type="button">Login</button>
                </p>
                <p>
                    Some test user/password pairs you may use are:
                    <ul>
	                    <li>habuma/freebirds</li>
	                    <li>kdonald/melbourne</li>
	                    <li>rclarkson/atlanta</li>
                    </ul>
                </p>
            </fieldset>
        </form>    
    </div>
</div>
